.fondo-navbar {
background-color: rgba(38, 42, 46, 0.979);

}
.oradores{
    text-align: center;
}
.react {
    background-color: rgba(43, 180, 180, 0.74);
    color:white 
}
.negrita {
    font-weight: bold;
 
}

.banner {
    height: calc(100vh - 96px);
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/ba1.jpg);
    
    
  }



.margin-banner {
    margin: 10%
 }
 .btn-manzana{
    background-color: rgb(150, 201, 62);
 }
.footer {

    background-color: rgba(11, 34, 61, 0.973);
    padding: 20px;
    margin-top: 20px;
    color:white;
}
